body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), 
    url('./img/Acheron2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* ให้ภาพอยู่กึ่งกลาง */
    background-attachment: fixed;
    color: #E0E0E0; 
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.bold {
    font-weight: bold;
}
.divider {
    border-top: 3px solid #E0E0E0;
    margin: 20px 0;
}

.profile-img {
    width: 100%;
    max-width: 200px; /* จำกัดขนาดสูงสุด */
    border-radius: 10%;
  }
  
.title {
    color: #E0E0E0;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.second-title{
    font-size: 16px;
}

.descriptions-text {
    
    text-align: justify;
    line-height: 1.5;
    font-size: 12px;
    
}

.text {
    margin-top: 10px;
    color: #E0E0E0;
    
}

/* .line{ 
    border-bottom: 1px white ;
} */

.icon {
    width: 20px;
    height: 20px;
}

ืnav.nabar{
    margin: 20px; /* เพิ่ม margin ให้กับ navbar */
}

.bg-backhole{
    background: rgba(0, 0, 0, 0.8); /* ทำให้ navbar ชัดขึ้น */
    backdrop-filter: blur(5px);
    border-radius: 0;
    background-position: center;
}

.progress {
    background-color: #222; /* สีพื้นหลัง progress เป็นสีดำ */
    border-radius: 8px; /* มุมโค้งเล็กน้อย */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* เงาอวกาศ */
    overflow: hidden;
}

.progress-bar {
    background: linear-gradient(135deg, #ffffff, #999999); /* สีแถบเงินไล่โทน */
    color: black; /* สีตัวหนังสือดำ */
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* ให้ตัวหนังสือดูมีแสง */
    animation: pulse 2s infinite alternate ease-in-out; /* ทำให้แถบมี movement */
}

/* ทำให้ progress-bar ดูมี movement */
@keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    }
}






